/* Styles used when questions are being attempted. */
.que.sigma .stacksyntaxexample {
    color: #1F536B;
    font-family: monospace;
    font-size: 100%;
    font-weight: bold;
}

.que.sigma .stackinputfeedback {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 0.5em 0.5em 0;
}

@media only screen and (min-width: 768px) {
    .que.sigma .stackinputfeedback {
        border: 1px solid #fff;
        background-color: #fff;
        margin: 0.2em 3em 0.5em;
        padding: 0.5em 0.5em 0.5em;
    }
}

.que.sigma .stackinputfeedback.empty {
    display: none;
}

.que.sigma .stackinputfeedback.waiting,
.que.sigma .stackinputfeedback.loading {
    color: #888;
    min-height: 1em;
}

.que.sigma .stackinputfeedback.loading {
    background: #fff url([[pix:moodle|i/loading_small]]) no-repeat top right;
}

.que.sigma .stackinputfeedback.waiting .stacksyntaxexample,
.que.sigma .stackinputfeedback.loading .stacksyntaxexample {
    color: #84aec1;
}

.que.sigma .formulation .stackprtfeedback {
    background: #fff3bf;
    margin: 0.2em -0.2em 0.5em;
    padding: 0.2em;
}

.que.sigma .formulation .stackprtfeedback .correct,
.que.sigma .formulation .stackprtfeedback .partiallycorrect,
.que.sigma .formulation .stackprtfeedback .incorrect {
    background: transparent;
}

.que.sigma .formulation .questiontestslink {
    float: right;
    font-size: 0.7em;
}

.que.sigma .matrixtable {
    border: 0 solid black;
}

.que.sigma .matrixtable td {
    border: 0 solid black;
}

.que.sigma .tex2max-feedback-wrapper {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 0.5em 0.5em 0.5em;
}

@media only screen and (min-width: 768px) {
    .que.sigma .tex2max-feedback-wrapper {
        border: 1px solid #fff;
        background-color: #fff;
        margin: 0.2em 3em 0.5em;
        padding: 0.5em 0.5em 0.5em;
    }
}

.que.sigma .tex2max-feedback-wrapper.empty {
    display: none;
}

.que.sigma .tex2max-feedback-wrapper.waiting {
    color: #888;
    min-height: 1em;
}


/* Visual math input */
.que.sigma .visual-math-input-wrapper {
    margin: -12px -20px 20px -20px;
    background-color: #1177d1;
}


/* Debug */
.que.sigma .sigma-debug-wrapper {
    margin: 20px 0;
    padding: 1em 0;
}

.que.sigma .sigma-debug-question-wrapper {
    border: 1px solid #fff;
    background-color: #ffffcc;
    padding: 0.5em 0.5em;
}

@media only screen and (min-width: 768px) {
    .que.sigma .sigma-debug-question-wrapper {
        border: 1px solid #fff;
        background-color: #ffffcc;
        margin: .2em 3em .5em;
        padding: 0.5em 0.5em;
    }
}

.que.sigma .sigma-debug-value {
    padding: 0.2em 0.5em;
    text-align: center;
    min-height: 30px;
    margin: 0.2em 1em;
}

.que.sigma .sigma-debug-nb-star {
    color: #ff3333;
    padding-right: 0.3em;
}